body {
  background: url(/images/bg.jpg) no-repeat;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
}

a img {
  border: none;
}

a {
  color: #2d2884;
  text-decoration:none;
}

a:hover {
	text-decoration: underline;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#container {
	width: 600px;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.7);
	padding: 20px 40px;
	margin-top: 20px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 10px #000;
	-moz-box-shadow: 0px 0px 10px #000;
	box-shadow: 0px 0px 10px #000;
  
}

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66;
}

.fieldWithErrors {
  display: inline;
}

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;
}

.error_messages h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 10px;
  font-size: 12px;
  margin: 0;
  background-color: #c00;
  color: #fff;
}

.error_messages p {
  margin: 8px 10px;
}

.error_messages ul {
  margin: 0;
}
table {
    border-collapse: collapse;
	-webkit-box-shadow: 0px 0px 10px #666666;
	-moz-box-shadow: 0px 0px 10px #666666;
	box-shadow: 0px 0px 10px #666666;
}
/* #scoreboard th:nth-child(1){
     -moz-border-radius: 10px 0px 0 0 ; /* FF1+ */
  -webkit-border-radius: 10px 0px 0 0; /* Saf3-4, iOS 1+, Android 1.5+ */
          border-radius: 10px 0px 0 0 ; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
}
#scoreboard thead td{
     -moz-border-radius: 0px 10px 0 0 ; /* FF1+ */
  -webkit-border-radius: 0px 10px 0 0; /* Saf3-4, iOS 1+, Android 1.5+ */
          border-radius: 0px 10px 0 0 ; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
}
#scoreboard tr:nth-child(9) td {
	-moz-border-radius: 0px 0px 0 10px ; /* FF1+ */
  -webkit-border-radius: 0px 0px 0 10px; /* Saf3-4, iOS 1+, Android 1.5+ */
    border-radius: 0px 0px 0 10px ; /* Opera 10.5, IE9, Saf5, Chrome, FF4 */
} */
#scoreboard th, td.yellow {
	background: url(/images/cell_yellow.jpg) repeat-x top left #ffcf00;
}
table td, table th{
    padding:10px;
    border: none;
}
table tr:nth-child(even){
    background: url(/images/cell_grey.jpg) repeat-x top left #e0e0e0;
	
}
table tr:nth-child(odd){
    background: #eee;
	background: url(/images/cell_grey.jpg) repeat-x top left #e0e0e0;
}
table#scoreboard th.headerSortUp, table#scoreboard th.headerSortDown { 
	background: url(/images/cell_blue.jpg) repeat-x top left #00ade4;
} 

#scoreboard td {
	width: 50px;
    -moz-text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
	-webkit-text-shadow: 0px 1px 1px rgba(255,255,255,0.8); 
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8); 
	color: #333;
	text-align: center
}
tr.totals td {
	color: #fff;
	font-weight: bold;
}
tr.red td {
	background: url(/images/cell_red.jpg) repeat-x top left #cd1b1b !important;
	color: #fff !important;
	-moz-text-shadow: 0px 1px 1px rgba(0,0,0,0.8) !important;
	-webkit-text-shadow: 0px 1px 1px rgba(0,0,0,0.8) !important; 
	text-shadow: 0px 1px 1px rgba(0,0,0,0.8) !important; 
	
}
tr.green td {
	background: url(/images/cell_green.jpg) repeat-x top center #84cd1b !important;
	color: #5e7500;
}

#scoreboard td.user_name {
	text-align: left;
}
a.medal {
	display: block;
	width: 32px;
	height: 32px;
	background-image: url(/images/medals.png);
	background-repeat: no-repeat;
	margin: 0 auto;
}
a.gold {
	background: url(/images/medals.png) no-repeat 0 0;
}
a.silver {
	background: url(/images/medals.png) no-repeat -32px -32px;
}
a.bronze {
	background: url(/images/medals.png) no-repeat -64px -64px;
}
a.crap {
	background: url(/images/medals.png) no-repeat -96px -96px;
}
h1 {
	font-size: 24px;
	font-weight: bold;
	color: #2e6200;
	-moz-text-shadow: 0px 1px 1px rgba(255,255,255,0.8) !important;
	-webkit-text-shadow: 0px 1px 1px rgba(255,255,255,0.8) !important; 
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8) !important; 
}
input[type="checkbox"]{
	display:none;
}
.checkbox{
display:block;
cursor:pointer;
width: 51px;
height: 31px;
margin: 0 auto
}
.checked{
background:url(/images/switch.png) no-repeat left top;
}
.unchecked{
background:url(/images/switch.png) no-repeat left bottom;
}